In [2]:
import numpy as np
import  pandas as pd
boolean=[True,False]
gender=["男","女"]
color=["white","black","yellow"]
data=pd.DataFrame({
    "height":np.random.randint(150,190,100),
    "weight":np.random.randint(40,90,100),
    "smoker":[boolean[x] for x in np.random.randint(0,2,100)],
    "gender":[gender[x] for x in np.random.randint(0,2,100)],
    "age":np.random.randint(15,90,100),
    "color":[color[x] for x in np.random.randint(0,len(color),100) ]
}
)
data

    height  weight  smoker gender  age   color
0      173      77   False      男   22   black
1      184      80   False      男   83  yellow
2      151      70   False      女   33  yellow
3      170      54   False      女   45   white
4      170      66   False      男   59   white
..     ...     ...     ...    ...  ...     ...
95     161      84   False      男   46   white
96     170      61    True      男   64  yellow
97     152      53    True      女   74   white
98     189      74   False      男   34  yellow
99     185      77    True      女   59  yellow

[100 rows x 6 columns]