In [68]:
import numpy as np
import  pandas as pd
boolean=[True,False]
gender=["male","female"]
color=["white","black","yellow"]
data=pd.DataFrame({
    "height":np.random.randint(150,190,100),
    "weight":np.random.randint(40,90,100),
    "smoker":[boolean[x] for x in np.random.randint(0,2,100)],
    "gender":[gender[x] for x in np.random.randint(0,2,100)],
    "age":np.random.randint(15,90,100),
    "color":[color[x] for x in np.random.randint(0,len(color),100) ]
}
)
data

    height  weight  smoker  gender  age   color
0      167      64   False    male   21  yellow
1      171      75   False  female   79   white
2      184      87    True    male   22   white
3      189      49    True    male   71   white
4      163      79   False  female   40   white
..     ...     ...     ...     ...  ...     ...
95     162      54    True  female   33   white
96     183      53    True    male   36   black
97     167      63    True    male   49   black
98     184      63   False  female   57  yellow
99     188      65    True  female   24   black

[100 rows x 6 columns]

In [69]:
data["gender"] = data["gender"].map({"male":1, "female":0})
data.head(10)

   height  weight  smoker  gender  age   color
0     167      64   False       1   21  yellow
1     171      75   False       0   79   white
2     184      87    True       1   22   white
3     189      49    True       1   71   white
4     163      79   False       0   40   white
5     157      45    True       0   34   black
6     186      77    True       1   79   black
7     172      47   False       1   66   black
8     158      60   False       0   46   white
9     159      56   False       1   76   black

In [70]:
def apply_age(x,bias):
    return x+bias
#以元组的方式传入额外的参数
data["age"] = data["age"].apply(apply_age,args=(-3,))
data

    height  weight  smoker  gender  age   color
0      167      64   False       1   18  yellow
1      171      75   False       0   76   white
2      184      87    True       1   19   white
3      189      49    True       1   68   white
4      163      79   False       0   37   white
..     ...     ...     ...     ...  ...     ...
95     162      54    True       0   30   white
96     183      53    True       1   33   black
97     167      63    True       1   46   black
98     184      63   False       0   54  yellow
99     188      65    True       0   21   black

[100 rows x 6 columns]

In [71]:
import numpy as np
import  pandas as pd
boolean=[True,False]
gender=["male","female"]
color=["white","black","yellow"]
data=pd.DataFrame({
    "height":np.random.randint(150,190,100),
    "weight":np.random.randint(40,90,100),
    "smoker":[boolean[x] for x in np.random.randint(0,2,100)],
    "gender":[gender[x] for x in np.random.randint(0,2,100)],
    "age":np.random.randint(15,90,100),
    "color":[color[x] for x in np.random.randint(0,len(color),100) ]
}
)
data

    height  weight  smoker  gender  age   color
0      155      74    True  female   28   white
1      173      75    True    male   47  yellow
2      172      61    True  female   51  yellow
3      171      88    True    male   67  yellow
4      163      40   False    male   15   white
..     ...     ...     ...     ...  ...     ...
95     177      70   False    male   88   white
96     172      52   False    male   79   black
97     158      77    True    male   82  yellow
98     159      55   False    male   57  yellow
99     182      74   False  female   53   white

[100 rows x 6 columns]

In [72]:
data_df = pd.get_dummies(data.gender)
data_df.head(10)
merged = pd.concat([data, data_df], axis = 1)
merged

    height  weight  smoker  gender  age   color  female  male
0      155      74    True  female   28   white       1     0
1      173      75    True    male   47  yellow       0     1
2      172      61    True  female   51  yellow       1     0
3      171      88    True    male   67  yellow       0     1
4      163      40   False    male   15   white       0     1
..     ...     ...     ...     ...  ...     ...     ...   ...
95     177      70   False    male   88   white       0     1
96     172      52   False    male   79   black       0     1
97     158      77    True    male   82  yellow       0     1
98     159      55   False    male   57  yellow       0     1
99     182      74   False  female   53   white       1     0

[100 rows x 8 columns]